setuptools
anyio==3.5.0
asgiref
async-timeout==4.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
click
Deprecated==1.2.13
docker==5.0.3
dramatiq==1.13.0
fastapi==0.75.1
h11==0.13.0
idna==3.3
packaging==21.3
pika==1.2.0
prometheus-client==0.14.1
pydantic==1.9.0
pyparsing==3.0.8
python-multipart==0.0.5
PyYAML==6.0
redis==4.2.2
requests==2.27.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.1.1
ujson
urllib3==1.26.9
uvicorn
websocket-client
wrapt==1.14.0
aiohttp==3.8.1
attrs==21.4.0
frozenlist
multidict
yarl
grafana-client==2.2.0
prometheus-client==0.14.1
asyncpg==0.25.0
